<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Voting App
      </h1>
    </header>
      <button type="submit" id="allPollsButt">Show All Polls</button>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <div id="pollSpace"></div><br>
    <div id="existingSpace"></div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </body>
</html>
