<!DOCTYPE html>
<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Voting App
      </h1>
    </header>
      <form id="newPoll" hidden>
        <div id="newPollDiv">Poll Name:<input type="text" id="pollName" dissabled=true><br>
          <button type="submit" id="pollNextButt">Next</button><br><br>
          </div>
        <div id="optionsDiv" hidden>
          Option 1:<input type="text" id="option1Input" class="option"><br>
          Option 2:<input type="text" id="option2Input" class="option"><br>
          <button type="submit" id="pollCreateButt" disabled>Create
          </button>
        </div>
      </form> 
      <button type="submit" id="allPollsButt">Show All Polls</button>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <div id="pollSpace"></div><br>
    <div id="existingSpace"></div>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </body>
</html>
