<!DOCTYPE html>
<html>
  <head>
    <title>Coin Shop</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="tableDiv"></div>
    <!--<div id="chartContainer" style="height: 300px; width: 100%;"></div> -->
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  </body>
</html>
